.divgeners{

	margin-top: -140px;
	margin-left: -280px;
	margin-bottom: -30px;
	margin-right: -500px;
	

}

.b1 {
width: 160px;
background-color: black;
color: white;
border-radius: 2px;

}

.b2 {
border-radius: 2px;


}







